* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ff0000;
    border-bottom: 1px solid #f11b03;
}

main {
    padding: 30px;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.producto {
    border: 1px solid #ff3300;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.carrito {
    position: fixed;
    top: 10px;
    right: 5px;
    width: 200px;
    border: 1px solid #ff5500;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffdd00;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-image: url(../assets/img/shopping-bag.png);
    background-repeat: no-repeat;
    background-position: right;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total, .opciones, .nombre, .direccion {
    margin-top: 10px;
}

button {
    background-color: #ffc400;
    color: rgb(255, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f6faff;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
.carrito {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
}
.admin-item {
    margin-bottom: 10px;
}
.producto, .carrito-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.total, .opciones, .nombre, .direccion {
    margin-top: 10px;
}
#admin {
    display: none;
}
#loginModal {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajustar el ancho según sea necesario */
    max-width: 400px; /* Máximo ancho del modal */
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    #loginModalContent {
        width: 90%;
    }
}
