*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #ff0000;
    border-bottom: 1px solid #f11b03;
}
body{
    background-color: yellow;
}
main {
    padding: 30px;
}
#productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.producto {
    border: 1px solid #ff3300;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}
#carrito{
    display: block;
}


.carrito-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.total, .opciones, .nombre, .direccion {
    margin-top: 10px;
}

button {
    background-color: #ffc400;
    color: rgb(255, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f6faff;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px ;
    border: 2px solid #ff0000;
    border-radius: 5px;
}
.carrito {
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}
.carrito-container {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.total {
    padding: 10px;
    font-weight: bold;
}

.btnEliminarCarrito {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}

.btnEliminarCarrito:hover {
    background-color: darkred;
}
.admin-item {
    margin-bottom: 10px;
}
.producto, .carrito-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.total, .opciones, .nombre, .direccion {
    margin-top: 10px;
}
#admin {
    display: none;
}
#loginModal {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100vh; /* Ajustar el ancho según sea necesario */
    max-width: 400vh; /* Máximo ancho del modal */
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}
footer{
    background-color: #ff0000;
}

@media screen and (max-width: 600px) {
    #loginModalContent {
        width: 90%;
    }
}
.servicios {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/img/fondo-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
  }
  
  .servicio-content {
    text-align: center;
  }
  .servicio-content .servicio-1 {
    padding: 0 100px;
  }
  .servicio-content .servicio-1 img {
    width: 25px;
    margin-bottom: 15px;
  }
  .servicio-content .servicio-1 h3 {
    color: aliceblue;
    font-size: 18px;
  }
/* Modo claro (por defecto) */
body {
    background-color: #ffa600;
    color: #000000;
}
.card{
    border: 3px solid #000000;
    padding: 10px;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #000000;
}
.grid-sobre{
    background-color: #000000;
}
.card.dark-mode {
    background-color: #f3f3f3;
    color: #060606;
    border: 2px solid red;
}

.admin-item.dark-mode input,
.admin-item.dark-mode button,
.carrito-item.dark-mode,
.total.dark-mode,
.opciones.dark-mode label,
.opciones.dark-mode input,
.nombre.dark-mode input,
.direccion.dark-mode input {
    background-color: #fcf0f0;
    color: #000000;
}

.enviar-whatsapp.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}
/*sobre nosotros*/
.cards{
    width: 30%;
    height: 450px;
    background-color: orange;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: rgb(0, 0, 0);
}
.related-post a{
    text-decoration: none;
    color: yellow;
}
.card__btn{
    color: black;
    background-color: aliceblue;
    text-decoration: none;
    padding: 10px 30px;
    width: 10%;
    display: block;
    text-transform: capitalize;
}
.card__btn:hover{
    color: yellow;
}
.medida{
    height: 200px;
    width: 300px;
}
.h-1{
    padding: 20px 0;
    text-align: center;
    font-size: 2,9em;
    text-transform: uppercase;
}
.grid-sobre{
    background-color: yellow;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: 5,1fr;
    border: 5px solid red;
}
.contenido-principal{
    padding: 20px;
    border: 3px solid white;
}
.contenido-principal{
    grid-column: 2;
}
.article{
    background-color: rgb(217, 214, 7);
    padding: 20px;
    margin-top: 5px;
    color: black;
}
.sidebar{
    grid-column: 3;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(117, 5, 5);
}
.sidebar .medida{
    margin: 5px;
}
.related-post{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    padding: 10px;
}
.related-post:hover{
    cursor: pointer;
    background-color: beige;
}
@media screen and (max-width: 760px){
    .grid-sobre .contenido-principal{
        grid-column: 1/-1;
        width: 270px;
    }
    .sidebar{
        grid-column: 1/-1;
        width: 100%;
        flex-direction: column;
    }
    .medida{
        width: 150px;
        height: 150px;
    }
}
@media(max-width:850px){
    .grid-sobre{
        flex-direction: column;
        justify-content: center;
    }
}
@media(min-width:330px){
    .ajustar{
        width: 100%;
        height: 100%;
    }
}